*.*~
node_modules/
tmp/
log/
public/img/
public/music/
*.flac
*.mp3
*.ogg
config.json

public/js/lib/underscore-min.js
public/js/lib/handlebars.min.js
public/js/lib/require.js
public/js/lib/text.js
public/js/lib/backbone-min.js
public/js/lib/backbone.collectionView.min.js
public/js/lib/backbone.paginator.min.js
public/js/lib/bootstrap.min.js
public/js/lib/aurora.js
public/js/lib/flac.js
public/js/lib/mp3.js
public/js/lib/jquery-ui.min.js
public/js/lib/jquery.min.js

public/css/bootstrap-theme.min.css
public/css/bootstrap.min.css
public/css/jquery-ui.min.css
public/css/jquery-ui.structure.min.css
public/css/jquery-ui.theme.min.css
