<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 block">
      <h1 class="text-center">{{title}}</h1>
      <div class="msg text-center"></div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="forms newUserForm col-md-8">
          <form>
            <div class="form-group">
              <label for="username">{{username}}</label>
              <input type="text" name="username" class="username form-control" size="30" maxlength="25"/>
            </div>

            <div class="form-group">
              <label for="password">{{password}}</label>
              <input type="password" name="password" class="password form-control" size="30"/>
            </div>

            <div class="form-group">
              <label for="mail">{{mail}}</label>
              <input type="email" name="mail" class="mail form-control" size="30"/>
            </div>

            <button type="submit" class="btn btn-default">{{submit}}</button>
          </form>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
