<div class="container">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10 block">
      <h2>Admin Panel</h2>
      <div class="msg text-center"></div>

      <button type="button" class="scan btn btn-default btn-lg">
        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Scan files
      </button>

      <button type="button" class="artists-desc-update btn btn-default btn-lg">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update artists description
      </button>

      <button type="button" class="artists-thumb-update btn btn-default btn-lg">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update artists picture
      </button>

      <button type="button" class="albums-cover-update btn btn-default btn-lg">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update album cover
      </button>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>
