<div class="pageControl text-center">
  <nav>
    <ul class="pager">
      <li>
        <a class="firstPage" aria-label="First">
          <span aria-hidden="true">|&laquo;</span>
        </a>
      </li>
      <li><a class="prevPage">&laquo;</a></li>
      <li class="page">{{page}}</li>
      <li><a class="nextPage">&raquo;</a></li>
      <li>
        <a class="lastPage" aria-label="Last">
          <span aria-hidden="true">&raquo;|</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="resultsData"></div>
</div>

<div class="pageControl text-center">
  <nav>
    <ul class="pager">
      <li>
        <a class="firstPage" aria-label="First">
          <span aria-hidden="true">|&laquo;</span>
        </a>
      </li>
      <li><a class="prevPage">&laquo;</a></li>
      <li class="page">{{page}}</li>
      <li><a class="nextPage">&raquo;</a></li>
      <li>
        <a class="lastPage" aria-label="Last">
          <span aria-hidden="true">&raquo;|</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
