<div class="queue">

  <div class="queue-controls">

    <span class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        Queue
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li>
          <span class="queue-controls-save">Save</span>
        </li>
        <li class="divider"></li>
        <li>
          <span class="queue-controls-clean">Clean</span>
        </li>
      </ul>
    </span>

    <button type="button" class="queue-controls-remove">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>

</div>
