<div class="media">
  <div class="media-left media-middle">
    <img class="media-object miniAlbumImg" src="/css/note.jpg" alt="">
  </div>
  <div class="media-body">
    <h4 class="media-heading nowPlaying title">Title</h4>
    <div class="nowPlaying artist">Artist</div>
    <div class="nowPlaying album">Album</div>
    <div class="nowPlaying genre">Genre</div>
    <div class="nowPlaying rate">5</div>
  </div>
</div>

<div class="time">
  <span class="currentTime">00:00</span> / <span class="duration">00:00</span>
</div>

<button type="button" class="playButton btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-play"></span>
</button>
<button type="button" class="nextButton btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-step-forward"></span>
</button>

<button type="button" class="loopButton btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-repeat"></span>
</button>
<button type="button" class="randButton btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-random"></span>
</button>

<div>Volume : <span class="volume"></span></div>
<div id="slider"></div>

<script>
var unsupported;
if (!window.Audio || !('mozWriteAudio' in new Audio()) && !window.AudioContext && !window.webkitAudioContext) {
    unsupported = true;
    document.body.classList.add("unsupported");
}
</script>
<div id="unsupported">
We're really sorry about this, but it looks like your browser doesn't support an Audio API. Please use Chrome 15+ or Firefox 8+.
</div>
