<div class="media">
  <div class="media-left media-middle">
    <img class="media-object miniAlbumImg" src="/css/note.jpg" alt="">
  </div>
  <div class="media-body">
    <h4 class="media-heading nowPlaying title">Title</h4>
    <div class="nowPlaying artist">Artist</div>
    <div class="nowPlaying album">Album</div>
    <div class="nowPlaying genre">Genre</div>
    <div class="nowPlaying rate">5</div>
  </div>
</div>

<div class="player-controls">
  <div class="player-progress">
    <progress class="player-progress-played" value="0" max="100">
      <span>0</span>% played
    </progress>
    <progress class="player-progress-buffer" value="0" max="100">
      <span>0</span>% buffered
    </progress>
  </div>

  <span class="player-controls-playback">
    <button type="button" class="player-controls-play">
      <span class="glyphicon glyphicon-play"></span>
    </button>
    <button type="button" class="player-controls-next">
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>

    <button type="button" class="player-controls-loop">
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
    <button type="button" class="player-controls-random">
      <span class="glyphicon glyphicon-random"></span>
    </button>

    <span class="player-time">
      <span class="player-duration">
        00:00
      </span>
    </span>
  </span>

  <span class="player-controls-sound">
    <button type="button" class="player-controls-mute">
      <span class="glyphicon glyphicon-volume-down"></span>
    </button>

    <input class="player-volume" type="range" data-player="volume" value="80" max="100" min="0"></input>
  </span>
</div>

<script>
var unsupported;
if (!window.Audio || !('mozWriteAudio' in new Audio()) && !window.AudioContext && !window.webkitAudioContext) {
    unsupported = true;
    document.body.classList.add("unsupported");
}
</script>
<div id="unsupported">
We're really sorry about this, but it looks like your browser doesn't support an Audio API. Please use Chrome 15+ or Firefox 8+.
</div>
