<div class="searchPanel">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" name="search" class="search form-control" placeholder="Paradise"/>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="field" id="title" value="title" autocomplete="off" checked> Title
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="field" id="album" value="album" autocomplete="off"> Album
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="field" id="artist" value="artist" autocomplete="off"> Artist
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="field" id="genre" value="title" autocomplete="off"> Genre
      </label>
    </div>

    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>

<div class="results"></div>

