<style>
  body {
    /*Full picture in the background.*/
    background: url(css/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div>
  <h1 class="text-center">Welcome on Orchestre!</h1>
  <p class="text-center">
    I'm building something new here.</br>
    Something about music, flac and self-hosting.</br>
    Something that fits my needs.</br></br>
    Yet another way to listen to music. But as I want!</br></br>
    vvision
  </p>
  <!--
  <p class="text-center">
    <a href="" class="btn btn-lg btn-default">Discover</a>
  </p>
  -->
</div>
