<div class="songInPlaylist {{songId}}">
  <div class="media">
    <div class="media-left media-middle">
      <button type="button" class="{{songId}} remove btn btn-info btn-sm">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="media-body">
      <h4 class="media-heading {{songId}} title">{{songTitle}}</h4>
      <div class="{{songId}} artist">By {{artistName}}</div>
      <div class="{{songId}} album"> On {{albumTitle}}</div>
    </div>
  </div>
</div>
